<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Personnelle Portfolio">
    <meta name="keyword" content="portfolio, web design, Django">
    <meta name="author" content="Ayoub Boughzala">
    <title>Ayoub Boughzala Portfolio | Welcome</title>
    <!--link rel="stylesheet" type="text/css" href="../static/core/style.css"-->
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <img src="../../static/core/images/circle-cropped.png" alt="" height="17%" width="17%">
        </div>
        <nav>
          <ul>
            <li class="current"><a  href="{% url 'core:index' %}">Home</a></li>
            <li><a href="{% url 'core:CV' %}">CV</a></li>
            <li><a href="{% url 'core:projects' %}">Projects</a></li>
            <li><a href="{% url 'core:contact' %}">Contact</a></li>
          </ul>
        </nav>

      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h2>Ayoub Boughzala-Portfolio</h1>


      </div>

    </section>
    <section id="Summary">
      <div class="container">
        <h1>Summary</h1>
        <p>My name is Boughzala Ayoub, I am an electronic engineering student in the 3rd year  at the Faculty of Science Tunis, specialty embedded systems. But I'm also passionate about the field of web and mobile development and this site shows that. I am looking for a PFE internship that I hope to do in the field of web development</p>

      </div>

    </section>
    <footer>
      <p>Ayoub Boughzala Portfolio, Copyright &copy; 2020</p>
    </footer>

  </body>
</html>
